
{% extends "Website/nav.html" %}
{% load static %}
{% block nav %}
<script src="https://www.youtube.com/iframe_api"></script>
<div class="navbar-nav">
    <a href="{% url 'home' %}" class="nav-item nav-link">Accueil</a>
    <a href="{% url 'about' %}" class="nav-item nav-link">A propos</a>
    <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu bg-light m-0">
            <a href="{% url 'features' %}" class="dropdown-item active">Caractéristiques</a>
            <a href="{% url 'team' %}" class="dropdown-item">Notre équipes</a>
            <a href="{% url 'testimonial' %}" class="dropdown-item">Témoignages</a>
            <a href="{% url 'appoinment' %}" class="dropdown-item">Rendez-vous</a>
        </div>
    </div>
    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
    <a href="{% url 'inscription' %}" class="nav-item nav-link">Inscription</a>
</div>

{% endblock %}


{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5 mt-4">
            <h1 class="display-2 text-white mb-3 animated slideInDown">Caractéristiques</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item" aria-current="page">Caractéristiques</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    
    <!-- Features Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-0 feature-row">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-award text-dark"></i>
                        </div>
                        <h5 class="mb-3">Équipements de Pointe pour l'Analyse Moléculaire</h5>
                        <p class="mb-0">Nous utilisons des technologies avancées telles que la génomique, la transcriptomique et la protéomique pour analyser les biomarqueurs moléculaires liés au cancer et à la nutrition. </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-item border h-100 p-5">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-people text-dark"></i>
                        </div>
                        <h5 class="mb-3">Expertise Interdisciplinaire</h5>
                        <p class="mb-0">Notre équipe de recherche regroupe des experts en cancérologie, nutrition, génomique et bioinformatique. Nous collaborons également avec des spécialistes externes pour enrichir nos travaux.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="feature-item border h-100 p-5">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-cash-coin text-dark"></i>
                        </div>
                        <h5 class="mb-3"> Infrastructures pour les Études Épidémiologiques </h5>
                        <p class="mb-0">Nous collectons, stockons et analysons des données cliniques et épidémiologiques de manière sécurisée. Cela nous permet de corréler les résultats moléculaires avec les antécédents médicaux des patients.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="feature-item border h-100 p-5">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-headphones text-dark"></i>
                        </div>
                        <h5 class="mb-3">collaboration</h5>
                        <p class="mb-0">collaboration avec Sylvester Cancer Center de l'université de Miami</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <div class="container-fluid feature mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-6 pt-lg-5">
                    <div class="bg-white p-5 mt-lg-5">
                        <h1 class="display-6 mb-4 wow fadeIn" data-wow-delay="0.3s">Domaine de Travail & Contributions Scientifiques</h1>
                        <p class="mb-4 wow fadeIn" data-wow-delay="0.4s">Nous opérons dans le domaine biomédical, combinant nos expertises en biologie et santé, santé publique et développement, ainsi que nutrition et diététique thérapeutique. Notre laboratoire a publié 80 articles dans des domaines biomédicaux variés, couvrant la biologie et la santé, la santé publique et le développement, ainsi que la nutrition et la diététique thérapeutique.</p>
                        <div class="row g-5 pt-2 mb-5">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="icon-box-primary mb-4">
                                    <i class="bi bi-person-plus text-dark"></i>
                                </div>
                                <h5 class="mb-3">Experience Techniciens</h5>
                                <span>Notre équipe dévouée est équipée des technologies les plus avancées pour une exploration approfondie.</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                                <div class="icon-box-primary mb-4">
                                    <i class="bi bi-check-all text-dark"></i>
                                </div>
                                <h5 class="mb-3">Spectrométrie de Masse</h5>
                                <span>Technique puissante qui permet l'analyse précise et la caractérisation des composants moléculaires présents dans un échantillon.</span>
                            </div>
                        </div>
                        <a class="btn btn-primary py-3 px-5 wow fadeIn" data-wow-delay="0.5s" href="">Lire la suite</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row h-100 align-items-end">

                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center justify-content-center" style="min-height: 300px;">
                                <button type="button" class="btn-play" data-bs-toggle="modal" data-bs-target="#videoModal"
                                        onclick="playVideo('https://www.youtube.com/watch?v=om58tCf6t2Q')">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="bg-primary p-5">
                                <div class="experience mb-4 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="d-flex justify-content-between mb-2">
                                        <span class="text-white">La préparation des échantillons</span>
                                        <span class="text-white">90%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="experience mb-4 wow fadeIn" data-wow-delay="0.4s">
                                    <div class="d-flex justify-content-between mb-2">
                                        <span class="text-white">Précision des résultats</span>
                                        <span class="text-white">95%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="experience mb-0 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="d-flex justify-content-between mb-2">
                                        <span class="text-white">Équipements de laboratoire</span>
                                        <span class="text-white">90%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- Video Modal Start -->
<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <!-- Remplacez 'YOUR_VIDEO_ID' par l'ID réel de votre vidéo YouTube -->
                    <iframe class="embed-responsive-item" id="videoIframe" allowfullscreen
                        allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://www.youtube.com/iframe_api"></script>

<script>
    function playVideo(videoUrl) {
        // Obtenez l'ID de la vidéo depuis l'URL
        var videoId = videoUrl.split('v=')[1];

        // Mettez à jour l'URL de l'iframe avec l'ID de la vidéo
        var iframe = document.getElementById('videoIframe');
        iframe.src = 'https://www.youtube.com/embed/' + videoId + '?enablejsapi=1';

        // Ouvrez la modale
        $('#videoModal').modal('show');
    }
</script>

    {% endblock %}