{% extends "Website/nav.html" %}

{% block nav %}
<div class="navbar-nav">
    <a href="{% url 'home' %}" class="nav-item nav-link ">Accueil</a>
    <a href="{% url 'about' %}" class="nav-item nav-link">A propos</a>
    <a href="{% url 'service' %}" class="nav-item nav-link active">Services</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu bg-light m-0">
            <a href="{% url 'features' %}" class="dropdown-item">Caractéristiques</a>
            <a href="{% url 'team' %}" class="dropdown-item">Notre équipes</a>
            <a href="{% url 'testimonial' %}" class="dropdown-item">Témoignages</a>
            <a href="{% url 'appoinment' %}" class="dropdown-item">Rendez-vous</a>
        </div>
    </div>
    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
    <a href="{% url 'inscription' %}" class="nav-item nav-link">Inscription</a>
</div>
{% endblock %}

{% block content%}
{% load static %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5 mt-4">
            <h1 class="display-2 text-white mb-3 animated slideInDown">Services</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item" aria-current="page">Services</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    
    
     <!-- Service Start -->
     <div class="container-fluid container-service py-5">
        <div class="container py-5">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="display-6 mb-3">Service de laboratoire fiable et de haute qualité</h1>
                <p class="mb-5" style="text-align: justify;">Laboratoire universitaire travaillant en collaboration avec les médecins et chercheurs nationaux et internationaux.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-heart-pulse text-dark"></i>
                        </div>
                        <h5 class="mb-3">Spectrométrie de Masse</h4>
                            <p class="mb-4" style="text-align: justify;">La spectrométrie de masse est une technique puissante qui permet l'analyse précise et la caractérisation des composants moléculaires présents dans un échantillon.</p>
                        <a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-lungs text-dark"></i>
                        </div>
                        <h5 class="mb-3">Séquençage de l'ADN </h4>
                            <p class="mb-4" style="text-align: justify;">Permet d'identifier des mutations génétiques spécifiques associées au développement du cancer.</p>
                        <a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-virus text-dark"></i>
                        </div>
                        <h5 class="mb-3">Méthylation de l'ADN </h4>
                            <p class="mb-4" style="text-align: justify;">Étude des modifications épigénétiques pour comprendre comment elles peuvent influencer le développement des cancers.</p>
                        <a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-capsule-pill text-dark"></i>
                        </div>
                        <h5 class="mb-3">Spectrométrie de Masse</h4>
                            <p class="mb-4"  style="text-align: justify;">Identification précise des composants moléculaires dans un échantillon, y compris les protéines, peptides, et métabolites.</p>
                        <a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-capsule text-dark"></i>
                        </div>
                        <h5 class="mb-3">Études Épidémiologiques</h4>
                            <p class="mb-4" style="text-align: justify;" >Analyse des données cliniques et épidémiologiques pour corréler les résultats moléculaires avec les antécédents médicaux des patients.</p>
                        <a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="icon-box-primary mb-4">
                            <i class="bi bi-prescription2 text-dark"></i>
                        </div>
                        <h5 class="mb-3">Des analyses de sang</h4>
                            <p class="mb-4" style="text-align: justify;">Mesure des concentrations de marqueurs spécifiques associés à différents types de cancers, fournissant des indications sur la présence ou la progression de la maladie.</p>
                        <a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Service End -->


    <div class="container-fluid testimonial py-5">
        <div class="container pt-5">
            <div class="row gy-5 gx-0">
                <div class="col-lg-6 pe-lg-5 wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="display-6 text-white mb-4">Ce que disent les habitués de notre laboratoire !!</h1>
                    <p class="text-white mb-5"  style="text-align: justify;">Le Laboratoire BMCN est bien plus qu'un lieu de recherche, c'est une communauté d'experts dévoués qui partagent une vision commune pour améliorer la compréhension des maladies et développer des solutions innovantes.</p>
                    <a href="" class="btn btn-primary py-3 px-5">More Testimonials</a>
                </div>
                <div class="col-lg-6 mb-n5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white p-5">
                        <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">
                            <div class="testimonial-item">
                                <div class="icon-box-primary mb-4">
                                    <i class="bi bi-chat-left-quote text-dark"></i>
                                </div>
                                <p class="fs-5 mb-4" style="text-align: justify;">Une expérience scientifique inoubliable ! Contribuer aux recherches du Laboratoire BMCN m'a donné le sentiment de participer à quelque chose de vraiment significatif dans la lutte contre le cancer.</p>
                                <div class="d-flex align-items-center">
                                    
                                    <img class="flex-shrink-0" src="{% static 'Website/img/testimonial-1.jpg' %}" alt="">
                                    <div class="ps-3">
                                        <h5 class="mb-1">Client Name</h5>
                                        <span class="text-primary">Profession</span>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="icon-box-primary mb-4">
                                    <i class="bi bi-chat-left-quote text-dark"></i>
                                </div>
                                <p class="fs-5 mb-4" style="text-align: justify;" >La collaboration avec le Laboratoire BMCN a été extrêmement enrichissante. Leur approche multidisciplinaire et leur utilisation de technologies de pointe ouvrent de nouvelles perspectives passionnantes dans la recherche biomédicale.</p>
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0" src="{% static 'Website/img/testimonial-2.jpg' %}" alt="">
                                    <div class="ps-3">
                                        <h5 class="mb-1">Client Name</h5>
                                        <span class="text-primary">Profession</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    

    {% endblock %}